<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/navigation.ejs') %>
<main>
    <div class="form-box">
        <h3>Which shelf position would you like to set an item up on?</h3>
        <form action="/item-setup/confirm-shelf" method="POST">

            <%- include('../includes/selector.ejs') %>

            <button class="btn" type="submit">submit</button>
        </form>
    </div>
</main>
<%- include('../includes/footer.ejs')%>