.form-element {
    width: 35em;
    /* margin: 1rem 0; */
}



.form-element input {
    height: 2em;
}

.form-element input,
.form-element textarea {
    width: 100%;
    border: 1px solid black;
    border-radius: 4px 4px 0 0;
    font: inherit;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: large;

}

.form-element input:focus,
.form-element textarea:focus {
    outline-color: darkblue;
}

.form-element textarea {
    width: 100%;
}

.form-element select {
    width: 40%;
    height: 1.5em;
}

.form-box {
    padding-top: 1em;
    h3 {
        font-size: x-large;
        margin: 0.5em;
    }
    label {
        font-size: large;
    }
    button {
        margin-top: 0.5em;
        padding: 0.5em;
        background-color: white;
        font-size: large;
    }
}

#use-shelf {
    color: white;
    background-color: white;
    background-image: linear-gradient(to bottom right, rgba(255, 0, 4, 0.788), rgb(59, 9, 181));
    border: 3px solid grey;
    border-radius: 5px;
    box-shadow: 0px 2px 10px grey;
    padding: 0.5em;
    font-size: 20pt;

    
}

#use-shelf:link {
    color: white;
}

#use-shelf:visited {
    color: white;
}

#use-shelf:hover {
    opacity: .9;
    transform: translateY(-1px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.329);
}

#use-shelf:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.089);
}