p {
  color: black;
}

img {
  height: 80px;
  width: 80px;
  display: block;
  -o-object-fit: fill;
     object-fit: fill;
}

main {
  width: 100%;
}

.form-box {
  padding-top: 1em;
  width: 90%;
  max-width: 860px;
}

.shelfNoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shelfNoBox p {
  font-size: 16pt;
  width: auto;
  font-weight: bold;
  padding-left: 0;
}

.topper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topper p {
  padding-left: 20%;
  font-size: 18pt;
  width: auto;
}

.topper form {
  padding-top: 0;
  padding-left: 1em;
  height: 25px;
}

.topper form select {
  height: 25px;
  width: 11em;
  padding-top: 0.1em;
  font-size: 12pt;
}

.topper form input {
  padding-top: 0;
  margin-top: 0;
  padding-top: 0.2em;
  height: 25px;
  width: 4em;
}

.productGrid {
  display: -ms-grid;
  display: grid;
  height: auto;
  min-height: 100px;
  width: 100%;
  -ms-grid-columns: auto 80px 6fr 1fr;
      grid-template-columns: auto 80px 6fr 1fr;
  -ms-grid-rows: auto 20px;
      grid-template-rows: auto 20px;
  grid-gap: 0;
  /* background-color: rgb(0, 255, 255); */
  text-decoration: none;
  color: black;
  border-radius: 0 0 5px 5px;
}

.shelfNo {
  padding-right: 0.5em;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  padding-top: 50%;
}

.shelfNo p {
  font-size: 16pt;
  width: auto;
  font-weight: bold;
  text-align: left;
}

.shelfNo #shelf-number {
  text-align: center;
  font-size: 30pt;
  padding-top: 50%;
}

.imagebox {
  /* border-top-left-radius: 50%; */
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  background-color: #D1D1D1;
  border-top: 4px solid black;
}

.detailsbox {
  padding-right: 2em;
  padding-top: 0.2em;
  border-top: 4px solid black;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  background-color: white;
  text-align: left;
  padding-left: 0.5em;
}

.detailsbox h2 {
  font-size: 25pt;
  margin-top: 0px;
  margin-bottom: 0.2em;
}

.detailsbox #tags {
  color: #347CA0;
  font-weight: 1000;
}

#product-image {
  /* border-top-left-radius: 50%; */
}

.numberbox {
  padding-left: 0.5em;
  /* border-top-right-radius: 50%; */
  border-top: 4px solid black;
  -ms-grid-column: 4;
  grid-column: 4;
  background-color: #d1d1d1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.numberbox #weight-left {
  font-size: 12pt;
  left: 50%;
  padding-top: 0;
  font-weight: bold;
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 0;
}

.numberbox #number-text {
  font-size: 23pt;
  left: 50%;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
}

.numberbox .weight-box-text {
  padding-top: 0;
  margin-top: 0;
  margin: 0;
  font-size: 14pt;
  left: 50%;
  /* padding-top: 0.2em; */
  font-weight: bold;
  text-align: center;
}

.number-text p {
  color: black;
}

.statusbar-full {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 2;
  grid-row: 2;
  background-color: #5fc45c;
  width: 25%;
  border-radius: 0 0 5px 5px;
  text-align: right;
}

.statusbar-full p {
  text-align: right;
  padding-right: 0.3em;
}

.statusbar-current {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 2;
  grid-row: 2;
  background-color: #3d3d3d;
  border-radius: 0 0 5px 5px;
}

#percentage {
  text-align: right;
  margin-right: 2em;
  padding-right: 2em;
}
/*# sourceMappingURL=shelfview.css.map */