/* 
font built using 
https://www.fontsquirrel.com/tools/webfont-generator 
from
https://github.com/microsoft/cascadia-code/releases
open-source: uses SIL Open Font License v1.10
free to use modify distribute etc
*/
@font-face {
  font-family: 'cascadia_code';
  src: url("../font/cascadiapl-webfont.woff2") format("woff2"), url("../font/cascadiapl-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

.main-content {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  height: auto;
}

p {
  color: blue;
}

h2 {
  margin: 0em;
  margin-bottom: 0.2em;
}

img {
  height: 100px;
  width: 100px;
}

main {
  width: 90%;
  max-width: 1600px;
}

#empty-shelf-box {
  padding-top: 2em;
}

#empty-shelf-box h2 {
  padding-bottom: 1em;
}

#empty-shelf-box button {
  background-color: #347CA0;
  -webkit-box-shadow: 0px 3px 7px 0px #464646;
          box-shadow: 0px 3px 7px 0px #464646;
}

#empty-shelf-box button h1 {
  padding: 0.5em;
}

.shelf-details {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  -ms-grid-columns: 100px 1fr auto 420px 100px;
      grid-template-columns: 100px 1fr auto 420px 100px;
  -ms-grid-rows: 100px auto 65px 50px 50px;
      grid-template-rows: 100px auto 65px 50px 50px;
  grid-gap: 0;
}

.shelf-details a:link {
  color: white;
}

.shelf-details a:visited {
  color: white;
}

.shelf-details a:hover {
  opacity: .9;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.329);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.329);
}

.shelf-details a:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.089);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.089);
}

.imagebox {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  background-color: #D1D1D1;
}

.detailsbox {
  padding-left: 0.5em;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  background-color: white;
}

.detailsbox h2 {
  font-size: 25pt;
  margin-top: 0px;
  margin-bottom: 0.2em;
}

.detailsbox #tags {
  color: #347CA0;
  font-weight: bold;
}

.detailsbox p {
  color: #347CA0;
  font-weight: bold;
}

.position-box {
  padding-top: 0.5em;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 1;
  grid-row: 1;
  background-color: #D1D1D1;
  min-width: 100px;
  text-align: center;
}

.position-box h3 {
  font-size: 30pt;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.item-weight {
  padding-top: 0.5em;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  background-color: #D1D1D1;
  min-width: 100px;
  text-align: center;
}

.item-weight h3 {
  font-size: 30pt;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.settings-header {
  text-align: center;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
  background-color: white;
}

.settings-header h2 {
  font-size: 30pt;
  padding-top: 0.5em;
  margin-bottom: 0.2em;
}

.shelf-weight {
  -webkit-box-shadow: inset 0 5px 5px #a5a5a5;
          box-shadow: inset 0 5px 5px #a5a5a5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  padding: 1em;
  padding-left: 1.5em;
  padding-bottom: 80px;
  background-color: #D1D1D1;
}

.item-notes {
  -webkit-box-shadow: inset 0 5px 5px #a5a5a5;
          box-shadow: inset 0 5px 5px #a5a5a5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  padding: 1em;
  padding-bottom: 80px;
  background-color: aliceblue;
}

.edit-item {
  z-index: +1;
  width: 80%;
  height: 45px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 3;
  grid-row: 3;
  background-color: #45c3e2;
  -webkit-box-shadow: 0px 3px 5px #a5a5a5;
          box-shadow: 0px 3px 5px #a5a5a5;
}

.edit-item h1 {
  margin: 0em;
  margin-left: 0.3em;
  margin-top: 0.2em;
}

.shelf-settings {
  z-index: +1;
  width: 468px;
  height: 45px;
  margin-left: 26px;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  -ms-grid-row: 3;
  grid-row: 3;
  background-color: #45c3e2;
  -webkit-box-shadow: 0px 3px 5px #a5a5a5;
          box-shadow: 0px 3px 5px #a5a5a5;
}

.shelf-settings h1 {
  margin: 0em;
  margin-left: 0.3em;
  margin-top: 0.2em;
}

.new-item {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 4;
  grid-row: 4;
  background-color: #4B7EA0;
}

.new-item h1 {
  margin: 0em;
  margin-left: 0.3em;
  margin-top: 0.2em;
}

.delete-item {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 5;
  grid-row: 5;
  background-color: #3d3d3d;
}

.delete-item h1 {
  margin: 0em;
  margin-left: 0.3em;
  margin-top: 0.2em;
}

button {
  background: none;
  border: none;
  border-top: 1px solid #a5a5a5;
  height: 100%;
  width: 100%;
  text-align: left;
}

button h1 {
  margin: 0em;
  color: white;
}

button:hover {
  cursor: pointer;
  opacity: .9;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.329);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.329);
}

/* selected link */
button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.089);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.089);
}
/*# sourceMappingURL=shelfDetails.css.map */