.intro-container{
  margin: auto;
  display: flex;
  width: 100%;
  background-color:#A8A8A8;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  color: white;


}

.title-container{
  
  padding-left: 10%;
  
  margin: auto;
  display: flex;
  
  background-color: #4d4d4d;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  /* padding-left: 6em; */
  color: white;


}

.navigation-container{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #4ddbff;
  height: 50px;
  align-items: center;
  }
div a{
  color: white;
}

.nav-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(75, 126, 160);
  border-radius: 3px;
  height: 2em;
  width: 18%;
  margin-left: 2%;
}

/*these are the settings for the main div container*/
/*look at everything that is under the main-content div container*/

.main-content{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: rgb(167, 167, 167);
  color: black;
  height:auto;

}

.form-box {
  width: auto;
  padding: 2em;
  padding-top: 0em;
  align-self: center;
  align-content: left;
  background-color: rgb(224, 224, 224);
  /* box-shadow: 10px 10px 10px grey; */
  box-shadow: 5px 5px  rgb(65, 65, 65) ;
}

.main-images{
   width:300px;
   height:300px;
 }



 .footer-container{
  width:100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction:row;
  justify-content: space-around;
  height:92px;
  background-color: #4d4d4d;
  align-items:center ;
  color: white;
 }

 .footer-images{
   width: 120px;
   height: 50px;
 }
 p{margin:0;}

input[type = "text"] {
margin:10px 0px;

}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}



input[type = "submit"]{
margin-top:10px;
}

.button {
  
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 4px 2px 4px;
  
}