


.intro-container{
  margin: auto;
  display: flex;
  width: 100%;
  background-color:#A8A8A8;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  color: white;


}

.title-container{
  margin: auto;
  display: flex;
  width: 100%;
  background-color: #800020;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  color: white;


}

.navigation-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: #4ddbff;
  height: 50px;
  align-items: center;
  }
div a{
  color: white;
}

/*these are the settings for the main div container*/
/*look at everything that is under the main-content div container*/

.main-content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: #FF7F50;
  color: white;
  height:310px;

}
.main-images{
   width:300px;
   height:300px;
 }



 .footer-container{
  width:100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction:row;
  justify-content: space-around;
  height:92px;
  background-color: #800020;
  align-items:center ;
  color: white;
 }

 .footer-images{
   width: 120px;
   height: 50px;
 }
 p{margin:0;}

input[type = "text"] {
margin:10px;
}

input[type= "radio"]{
margin:10px;
}

input[type = "submit"]{
margin-top:10px;
}
