<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<main>
<h1> Your Changes Have Been Saved Successfully </h1>
<form action="http://localhost:3000/">
<input type="submit" value="back to home page">
</form>





<%- include('includes/footer.ejs')%>
