<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scale Shelves!</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <main>
        <h1>This is the development homepage!</h1>
        <p>Going to use this page to put links to the other pages</p>


        <a href="home">http://localhost:3000/home</a>
        <br>
        <a href="template-example">http://localhost:3000/template-example</a>
        <br>
        <a href="item-setup/">http://localhost:3000/item-setup/</a>
        <br>
        <a href="delete/">http://localhost:3000/delete/</a>
        <br>
        <a href="swap-shelves">http://localhost:3000/swap-items/</a>
        <br>
        <a href="shelf-details/2">http://localhost:3000/shelf-details/2</a>
        <br>
        <a href="shelf-details/edit-item/2">http://localhost:3000/shelf-details/edit-item/2</a>
        <br>
        <a href="shelf-details-layout">http://localhost:3002/shelf-details-layout</a>
        <br>
        <a href="add-weight">http://localhost:3002/add-weight</a>



    </main>
</body>

</html>