<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scale Shelves!</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <main>
        <h1>This is the development homepage!</h1>
        <p>Going to use this page to put links to the other pages</p>

        <a href="template-example">http://localhost:3000/template-example</a>
        <br>
        <a href="overview-list">http://localhost:3000/overview-list</a>
        <br>
        <a href="item-setup/">http://localhost:3000/item-setup/</a>
        <br>
        <a href="delete/">http://localhost:3000/delete/</a>
        <br>
        <a href="http://localhost:3000/swap-items/">http://localhost:3000/swap-items/</a>
        <br>
        <a href="http://localhost:3000/item-select/">http://localhost:3000/item-select/</a>
        <br>
        <a href="item-setup/edit-item/2">test edit item route</a>
        <a href="shelf-details">http://localhost:3002/shelf-details</a>




    </main>
</body>

</html>