

<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
<main>

<form action ="/edit-selector" method="post">
<h1>Select which property of the item you would like to edit</h1>
<div id="item-radio" class="radio-form">
Name
<input type="radio" id="item-name" name="name" value="name">
</div>

<div id="description-radio" class="radio-form">
Description
<input type="radio" id="item-descriptiom" name="name" value="description">
</div>

<div id="weight-radio" class="radio=form">
Weight
<input type="radio" id="item-weight" name="name" value="weight">
</div>

<div id="tags-radio" class="radio-form">
Tags
<input type="radio" id="item-tag" name="name" value="tags">
</div>

<div id="imageLink-radio" class="radio-form">
Image Link
<input type="radio" id="item-imageLink" name="name" value="imageLink">
</div>

<input type="submit" id="postval" value="submit">
</form>

</main>
<%- include('includes/footer.ejs')%>
