
<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
<main>

<form action ="/change-imageLink" method="post">
<h1>Use the form below to edit the items image link</h1>


<div id="name-text-div" class="item-editor">
Enter name of item you would like to edit
<input type="text" id="item-name" name="name">
</div>


<div id="imageLink-text-div" class="item-editor">
Enter the new Item Image Link
<input type="text" id="item-imageLink" name="imageLink">
</div>





<input type="submit" id="postchange" value="submit">
</form>

</main>
<%- include('includes/footer.ejs')%>
