
<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
<main>

<form action ="/change-description" method="post">
<h1>Use the form below to edit the item description</h1>


<div id="name-text-div" class="item-editor">
Enter name of item you would like to edit
<input type="text" id="item-name" name="name">
</div>


<div id="description-text-div" class="item-editor">
Enter the new Item Description
<input type="text" id="item-descritpion" name="description">
</div>





<input type="submit" id="postchange" value="submit">
</form>

</main>
<%- include('includes/footer.ejs')%>

