<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<main>
<form action ="/change-name" method="post">
<h1>Use the form below to edit the item description</h1>


<div>
Enter name of item you would like to edit
<input type="text" id="item-name" name="name">
</div>

<div>
Enter the new Item Name
<input type="text" id="item-newname" name="newname">
</div>



<input type="submit" id="postchange" value="submit">
</form>
</main>
<%- include('includes/footer.ejs')%>


