<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<main>
<form action ="/change-tags" method="post">
<h1>Use the form below to edit the item tags</h1>


<div id="name-text-div" class="item-editor">
Enter name of item you would like to edit
<input type="text" id="item-name" name="name">
</div>


<div id="tag-text-div" class="item-editor">
Enter the new Item Tag
<input type="text" id="item-tag" name="tag">
</div>





<input type="submit" id="postchange" value="submit">
</form>
</main>
<%- include('includes/footer.ejs')%>
