<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
<script>

        var timer = setTimeout(function() {
            window.location='/swap-items'
        }, 8000);
    
</script>
<main>
<h1>Item has been swapped Successfully</h1>
<p>You are being Redirected...</p>

</main>


<%- include('includes/footer.ejs')%>
