

<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
<main>

<form action ="/view-details" method="post">
<h1>Select which property of the item you would like to edit</h1>
<div id="item-radio" class="radio-form">
Name
<input type="text" id="item-name" name="name" value="">
</div>



<input type="submit" id="postval" value="submit">
</form>

</main>
<%- include('includes/footer.ejs')%>
