<!doctype html>
<html>
        <head>
                <title>Delete Shelf</title>
        </head>
        <body>
                <p>Enter the number of a shelf to delete</p>
        <form method="POST" action="/delete-result">
                <p>Shelf number: <input id="name" type="text" name="name" value="Shelf Number"/></p>
                <input type = "submit" value="submit" />
        </form>
        </body>
</html>