<!-- ---------------------------------------------------- -->
<!-- head.ejs -->
<%- include('includes/head.ejs') %>
<!-- ---------------------------------------------------- -->
<!-- Individual files - for inserting custom style sheets -->

</head>
<!-- ---------------------------------------------------- -->
<!-- navigation.ejs -->
<%- include('includes/navigation.ejs') %>
<!-- ---------------------------------------------------- -->
<!-- place to paste main content -->
<main>
  <h1>this is a templated file - look at 'routes/template-example.ejs' to see</h1>
</main>
<!-- ---------------------------------------------------- -->
<!-- footer.ejs -->
<%- include('includes/footer.ejs') %>