<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>
<%- include('../includes/navigation.ejs') %>
<main>
    <div class="form-box">
        <h1>this is the help page</h1>
        <a href="/help/add-weight">manually add weights here</a>
    </div>
</main>
<%- include('../includes/footer.ejs') %>