<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<main>
    <h1>this is the help page</h1>
    <a href="/help/add-weight">manually add weights here</a>
</main>
<%- include('../includes/footer.ejs') %>