</div>
<footer>
    <div class="footer-container">
        <div class="goldsmiths-logo">
            <img src="/images/goldsmiths-logo.png" class="footer-images" alt="goldsmiths university logo">
        </div>
        <div class="goldsmiths-address">
            <p>Goldsmiths, University of London</p>
            <p>New Cross</p>
            <p>London</p>
            <p>SE14 6NW</p>
            <p>UK</p>


        </div>
        <div class="glitlab logo">
            <img src="/images/gitlab-logo.jpg" class="footer-images" alt="gitlab logo">
        </div>
    </div>
</footer>
</body>

</html>