<!-- navigation.ejs -->
</head>
<body>
    <header id="main-header">
        <div class="title-container">
            <h1><%=pageTitle%></h1>
        </div>
        <nav class="navigation-container">
            <div class="nav-item">
                <a href="/home">Home</a>
            </div>
            <div class="nav-item">
                <a href="/item-setup">Set up Item</a>
            </div>
            <div class="nav-item">
                <a href="/delete">clear shelf</a>
            </div>
            <div class="nav-item">
                <a href="/swap-shelves">swap shelves</a>
            </div>
            <div class="nav-item">
                <a href="/help">help</a>
            </div>
        </nav>
    </header>
    <!--main content div container is here for inserting forms-->
    <!--index page has an image in it-->
    <!--items/forms will be automaticly centered in this div tag-->
    <div class="main-content">