<!-- navigation.ejs -->

<body>
    <header id="main-header">
        <div class="title-container">
	<h1><%=pageTitle %></h1>
	</div>
        <nav class="navigation-container">
            <div class="item">
                <a href="add-item.html">home<iv/a>
            </div>
            <div class="item">
                <a href="add-item.html">add item</a>
            </div>
            <div class="item">
                <a href="remove-item.html">remove item</a>
            </div>
            <div class="item">
                <a href="swap-item.html">swap item</a>
            </div>
            <div class="item">
                <a href="support.html">support</a>
            </div>
        </nav>

    </header>
    <div class="intro-container">
        <div class="intro">
            <h1>Welcome to page name goes here</h1>
            <p>Please navigate to the overview page to view your current stock information</p>
        </div>
    </div>
    <!--main content div container is here for inserting forms-->
    <!--index page has an image in it-->
    <!--items/forms will be automaticly centered in this div tag-->
    <div class="main-content">
