<!-- navigation.ejs -->

<body>
    <header id="main-header">
        <div class="title-container">
            <a href="/home">
                <h1>Scale Shelves </h1>
            </a>
            <h2> - <%=pageTitle%></h2>
        </div>
        <nav class="navigation-container">

            <a class="nav-item" href="/home">Home</a>
            <a class="nav-item" href="/item-setup">Set up Item</a>
            <a class="nav-item" href="/delete">Clear shelf</a>
            <a class="nav-item" href="/swap-shelves">Swap shelves</a>
            <a class="nav-item" href="/help">Help</a>

        </nav>
    </header>
    <!--main content div container is here for inserting forms-->
    <!--index page has an image in it-->
    <!--items/forms will be automaticly centered in this div tag-->
    <div class="main-content">