<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<script>
    var timer = setTimeout(function () {
        window.location = '/item-select'
    }, 3000);
</script>
<main>
    <h1> Item not found</h1>
    <p>You are being Redirected...</p>


    <%- include('../includes/footer.ejs')%>