<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/navigation.ejs') %>
<main>
    <form action="/weight-added" method="POST">
        <h3>Add a weight to a shelf (position)</h3>

        <input type="radio" id="one" name="shelfPos" value="1">
        <label for="one">one</label><br>
        <input type="radio" id="two" name="shelfPos" value="2">
        <label for="two">two</label><br>
        <input type="radio" id="three" name="shelfPos" value="3">
        <label for="three">three</label><br>
        <input type="radio" id="four" name="shelfPos" value="4">
        <label for="four">four</label><br>
        <input type="radio" id="five" name="shelfPos" value="5">
        <label for="five">five</label><br>
        <input type="radio" id="six" name="shelfPos" value="6">
        <label for="six">six</label><br>
        <br>
        <p>Weight to add (g):</p>
        <input type="number" step="1" name="weight" id="weight">

        <button class="btn" type="submit">submit</button>
    </form>
</main>
<%- include('../includes/footer.ejs')%>