<%- include('../includes/head.ejs') %>
</head>

<body>
    <main>
        <form action="/test/add-item" method="POST">
            <div class="form-element">
                <p>Name:</p>
                <input type="text" name="name" id="itemName" value="">
            </div>
            <div class="form-element">
                <p>Tags:</p>
                <input type="text" name="tags" id="tags" value="">
            </div>
            <div class="form-element">
                <p>Description:</p>
                <textarea name="notes" id="notes" rows="10"></textarea>
            </div>
            <div class="form-element">
                <p>Price:</p>
                <input type="number" step="0.01" name="price" id="price">
            </div>
            <div class="form-element">
                <p>Weight:</p>
                <input type="number" step="0.01" name="weight" id="weight">
            </div>
            <div class="form-element">
                <p>ImageLink:</p>
                <input type="text" name="imageLink" id="imageLink">
            </div>
            <button class="btn" type="submit">Add Item</button>
        </form>
    </main>
</body>

</html>