<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/shelfDetails.css">
</head>

<body>
    <main>
        <p>this is a shelf overview page</p>

        <div class="shelf-details">


            <div class="imagebox">
                image
            </div>


            <div class="detailsbox">
                <h2>Item name</h2>
                <p>#Tags</p>
                <p>Item Price</p>
            </div>


            <div class="position-box">
                position
            </div>


            <div class="statusbar-full">
                full
            </div>


            <div class="statusbar-current">
                empty
            </div>


        </div>
        <br>
    </main>

</body>

</html>