<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/shelfDetails.css">
</head>

<body>
    <main>
        <p>this is a shelf details page</p>

        <div class="shelf-details">


            <div class="imagebox">
                image
            </div>


            <div class="detailsbox">
                <h2>Item name</h2>
                <p>#Tags</p>
                <p>Item Price</p>
            </div>


            <div class="position-box">
                <h2>shelf</h2>
                <h1>4</h1>
            </div>


            <div class="item-weight">
                <h2>weight</h1>
                    <h1>23g</h1>
            </div>

            <div class="settings-header">
                <h1>Details and settings</h1>
            </div>

            <div class="shelf-weight">
                <h2>Current shelf weight = 234g</h2>
                <h2>Number of items left = 10</h2>
                <h2>Percent full = 40%</h2>
                <br>
                <h2>Warning type = number of items</h2>
                <h2>Warning limit = 8 items</h2>
                <h2>100% weight = 600g</h2>
                <br>
                <h2>Auto calculate 100% = off</h2>
                <h2>Send warning = true</h2>

            </div>

            <div class="item-notes">
                <h2>Item notes/ re-order information:</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nunc magna, maximus eu felis nec,
                    gravida mollis dui. In vitae elit ut neque euismod viverra id nec ex. Quisque suscipit nibh vel
                    neque gravida, efficitur malesuada magna bibendum. Fusce vel suscipit nulla, sed dignissim sem.
                    Vestibulum porttitor sapien eu venenatis condimentum. Cras ac nibh non tellus iaculis vehicula et
                    nec lacus. Etiam vel rutrum sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae
                    sapien justo.

                    Pellentesque nibh erat, rutrum id tincidunt nec, consequat in magna. Sed sit amet libero commodo,
                    suscipit mi a, ultricies est. Duis condimentum nisl vitae tellus pretium consectetur. Fusce
                    sollicitudin justo libero, quis venenatis nunc interdum nec. Integer in ex eu lorem feugiat finibus
                    sed eget enim. Aenean id elit nec purus porta egestas finibus sed nunc. In feugiat nibh libero, at
                    rutrum orci tincidunt a. Fusce et erat ac turpis efficitur maximus eu in neque. Nulla ut volutpat
                    ligula. Sed ullamcorper convallis scelerisque.</p>


            </div>
            <a href="" class="edit-item">
                <h1>edit item details</h1>
            </a>
            <a href="" class="shelf-settings">
                <h1>change shelf settings</h1>
            </a>
            <a href="" class="new-item">
                <h1>Set up a new item on this shelf</h1>
            </a>
            <a href="" class="delete-item">
                <h1>Delete Item and reset settings</h1>
            </a>


        </div>
        <br>
    </main>

</body>

</html>