<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<main>

    <form action="/swap-shelves/swapped" method="post">
        <h1>Select the shlef of the item you would like to swap</h1>
        <div class="radio-form">
            1
            <input type="radio" id="shelf-one" name="name" value="1">
        </div>

        <div class="radio-form">
            2
            <input type="radio" id="shelf-two" name="name" value="2">
        </div>

        <div class="radio=form">
            3
            <input type="radio" id="shelf-three" name="name" value="3">
        </div>

        <div class="radio-form">
            4
            <input type="radio" id="shelf-four" name="name" value="4">
        </div>

        <div class="radio-form">
            5
            <input type="radio" id="shelf-five" name="name" value="5">
        </div>

        <div class="radio-form">
            6
            <input type="radio" id="shelf-six" name="name" value="6">
        </div>


        <h1>Select the shlef of the item you would like to swap WITH</h1>

        <div class="radio-form">
            1
            <input type="radio" id="swap-shelf-one" name="swap" value="1">
        </div>

        <div class="radio=form">
            2
            <input type="radio" id="swap-shelf-two" name="swap" value="2">
        </div>

        <div class="radio-form">
            3
            <input type="radio" id="swap-shelf-three" name="swap" value="3">
        </div>

        <div class="radio-form">
            4
            <input type="radio" id="swap-shelf-four" name="swap" value="4">
        </div>

        <div class="radio-form">
            5
            <input type="radio" id="swap-shelf-five" name="swap" value="5">
        </div>


        <div class="radio-form">
            6
            <input type="radio" id="swap-shelf-six" name="swap" value="6">
        </div>


        <input type="submit" id="postval" value="submit">
    </form>

</main>v
<%- include('../includes/footer.ejs')%>